body {
  font-family: $font-family-sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
  color: $primary;
}

h1 {
}

h2 {
  font-family: $font-family-sans-serif;
  font-size: 22px;
  line-height: 18px;
  font-weight: 500;
  color: $primary;
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

p {
  font-family: $font-family-sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
  color: $primary;
}

.font-weight-medium {
  font-weight: 500;
}

ul {

  li {
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
}

.color-red {
  color: $red;
}
