/* rubik-300 - latin_cyrillic */
@font-face {
  font-family: 'Rubik';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/rubik-v8-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
  src: local('Rubik Light'), local('Rubik-Light'),
    url('../fonts/rubik-v8-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/rubik-v8-latin_cyrillic-300.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/rubik-v8-latin_cyrillic-300.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/rubik-v8-latin_cyrillic-300.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/rubik-v8-latin_cyrillic-300.svg#Rubik') format('svg'); /* Legacy iOS */
}

/* rubik-regular - latin_cyrillic */
@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/rubik-v8-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Rubik'), local('Rubik-Regular'),
    url('../fonts/rubik-v8-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/rubik-v8-latin_cyrillic-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/rubik-v8-latin_cyrillic-regular.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/rubik-v8-latin_cyrillic-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/rubik-v8-latin_cyrillic-regular.svg#Rubik')
      format('svg'); /* Legacy iOS */
}

/* rubik-500 - latin_cyrillic */
@font-face {
  font-family: 'Rubik';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/rubik-v8-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local('Rubik Medium'), local('Rubik-Medium'),
    url('../fonts/rubik-v8-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/rubik-v8-latin_cyrillic-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/rubik-v8-latin_cyrillic-500.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/rubik-v8-latin_cyrillic-500.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/rubik-v8-latin_cyrillic-500.svg#Rubik') format('svg'); /* Legacy iOS */
}

/* rubik-700 - latin_cyrillic */
@font-face {
  font-family: 'Rubik';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/rubik-v8-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('Rubik Bold'), local('Rubik-Bold'),
    url('../fonts/rubik-v8-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/rubik-v8-latin_cyrillic-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/rubik-v8-latin_cyrillic-700.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/rubik-v8-latin_cyrillic-700.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/rubik-v8-latin_cyrillic-700.svg#Rubik') format('svg'); /* Legacy iOS */
}

/* rubik-900 - latin_cyrillic */
@font-face {
  font-family: 'Rubik Black';
  font-weight: 900;
  font-style: normal;
  src: url('../fonts/rubik-v8-latin_cyrillic-900.eot'); /* IE9 Compat Modes */
  src: local('Rubik Black'), local('Rubik-Black'),
    url('../fonts/rubik-v8-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/rubik-v8-latin_cyrillic-900.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/rubik-v8-latin_cyrillic-900.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/rubik-v8-latin_cyrillic-900.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/rubik-v8-latin_cyrillic-900.svg#Rubik') format('svg'); /* Legacy iOS */
}
