.slider {
  margin: 0 auto;
  padding: 140px 0 0;
  width: 440px;

  @media only screen and (max-width: 590px) {
    padding-top: 100px;
    width: 100%;
  }

  &__title {
    margin-bottom: 24px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
  }

  &__text {
    padding-bottom: 50px;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
  }

  .slick-dots {
    margin: 100px 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;

    @media only screen and (max-width: 590px) {
      margin-top: 40px;
    }

    li {
      margin-right: 16px;
      width: 11px;
      height: 11px;

      &:last-of-type {
        margin-right: 0;
      }

      &::marker {
        display: none;
      }
    }

    .slick-active {

      button {
        background: #ffffff;
      }
    }

    button {
      margin: 0;
      padding: 0;
      width: 11px;
      height: 11px;
      text-indent: -9999px;
      background: transparent;
      border: 1px solid #fff;
      border-radius: 50%;
      transition: all .3s ease;

      &:hover {
        background: #ffffff;
      }
    }
  }
}
