.button {
  margin: 0 auto;
  padding: 0;
  display: block;
  width: 220px;
  height: 42px;
  font-size: 15px;
  line-height: 40px;
  font-weight: 500;
  text-align: center;
  color: #000000;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 21px;
  transition: all .3s ease;

  &--red {
    width: 240px;
    color: #ffffff;
    background: #f31b33;
  }

  &--transparent {
    width: 170px;
    color: #ffffff;
    background: transparent;

    &:hover {
      color: #000000;
      background: #ffffff;
    }
  }
}
