.developer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  @media only screen and (max-width: 520px) {
    display: block;
  }

  &__text {
    margin-left: 14px;
    font-size: 18px;
    line-height: 1;
    font-weight: 300;
    color: rgba($primary, .6);

    @media only screen and (max-width: 520px) {
      margin: 10px 0 0;
    }

    &--offset {
      margin-left: -60px;

      @media only screen and (max-width: 520px) {
        margin: 10px 0 0;
      }
    }
  }
}
