.buy {
  margin: 0 auto;
  width: 480px;

  @include media-breakpoint-down(xs) {
    width: 100%;
  }

  &__title {
    margin-bottom: 60px;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
  }

  &__callback {
    margin-top: 35px;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    letter-spacing: -.55px;
    color: #ffffff;
  }

  &__time {
    margin-top: 55px;
    text-align: center;

    @media only screen and (max-width: 400px) {
      margin-top: 35px;
    }

    a {
      font-size: 13px;
      font-weight: 300;
      color: rgba(#ffffff, .7) !important;
      border-bottom: 1px dotted rgba(#ffffff, .7);
    }
  }
}
