
include ../blocks/button/button.pug
include ../blocks/form/form.pug
include ../blocks/footer/footer.pug
include ../blocks/social/social.pug
include ../blocks/section/section.pug
include ../blocks/slider/slider.pug
include ../blocks/logo/logo.pug
include ../blocks/phone/phone.pug
include ../blocks/header/header.pug
include ../blocks/sticky/sticky.pug
include ../blocks/copyright/copyright.pug
include ../blocks/advantage/advantage.pug
include ../blocks/advantages/advantages.pug
include ../blocks/developer/developer.pug
include ../blocks/award/award.pug
include ../blocks/awards/awards.pug
include ../blocks/description/description.pug
include ../blocks/stat/stat.pug
include ../blocks/stats/stats.pug
include ../blocks/buy/buy.pug