.award {
  margin-bottom: 0;
  padding-bottom: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 100%;
  border-bottom: 3px solid $gray;
  cursor: pointer;

  @include transition();

  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
    padding-bottom: 0;
    border: none;
  }

  &:hover {
    border-color: $danger;
  }

  &__logo {
    margin-bottom: 34px;
    display: flex;
    min-height: 193px;
    align-items: center;

    img {
      max-width: 190px;
    }
  }

  &__text {
    opacity: .5;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    letter-spacing: -.13px;
  }
}
