.section {

  &__main {
    padding-top: 90px;

    @media only screen and (max-width: 767px) {
      padding-top: 60px;
    }
  }

  &__bottom {
    margin-top: 110px;
    padding: 170px 0 129px;
    background: transparent url('../img/form-bg.jpg') right bottom no-repeat;
    background-size: cover;

    @media only screen and (max-width: 767px) {
      margin-top: 60px;
      padding: 60px 0;
    }
  }
}
