mixin advantage(data)
  .advantage&attributes(attributes)
    .advantage__logo
      img.advantage__img(src="./img/" + data.logo alt="")
    .advantage__description
      .advantage__title= data.title
      .advantage__text!= data.text 