.advantage {
  margin-bottom: 67px;
  display: flex;

  &:last-of-type {
    margin-bottom: 0;
  }

  &__title {
    margin-bottom: 17px;
    font-size: 22px;
    line-height: 18px;
    font-weight: 500;
  }

  &__text {
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
  }

  &__img {
    margin-right: 37px;
    max-width: 67px;
    height: auto;
  }

  &__list {
    padding: 0;
    list-style: none;
    line-height: 30px;

    li {
      position: relative;

      &:before {
        position: absolute;
        top: 50%;
        left: -15px;
        width: 7px;
        height: 7px;
        content: '';
        background-color: #dfdfdf;
        border-radius: 3.5px;
        transform: translateY(-50%);
      }
    }
  }
}
