.sticky {
  position: sticky;
  top: 10px;
  padding: 30px 0 26px;
  display: block;
  float: right;
  width: auto;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 5px 25px rgba(215, 208, 226, .64);

  &--black {
    padding: 0 30px;
    font-size: 47px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: .94px;
    text-transform: uppercase;
    color: $primary;
  }

  &--gray {
    margin-top: 20px;
    padding: 0 30px;
    font-size: 28px;
    line-height: 27px;
    font-weight: 700;
    letter-spacing: .52px;
    text-transform: uppercase;
    color: rgba($light, .5);
  }

  &--red {
    margin-top: 2px;
    padding: 0 30px;
    font-family: $font-black;
    font-size: 31px;
    line-height: 31px;
    letter-spacing: .24px;
    text-transform: uppercase;
    color: $red;
  }

  &--grayline {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px 0;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: $red;
    background-color: #f0f1f6;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 60px;
    display: block;
    width: 100%;
    text-align: center;
  }
}
