extends ../templates/template.pug
block content
  section.section.section__top
    header.header
      .container
        .row
          .col
            .header__top
              .logo
                a(href="index.html")
                  img(src="./img/logo.svg" alt="")
              .phone
                .phone__number: span 33-5555
                .phone__button
                  button.button.button--transparent Заказать звонок
        .row
          .col
            .header__bottom
              .slider.js-slider
                +slider__slide({
                  title: "Состав Setl Group",
                  content: "В состав Setl Group входит собственный застройщик Setl City и эксклюзивный продавец «Петербургская Недвижимость»",
                  button: "Купить квартиру мечты"
                })
                +slider__slide({
                  title: "Состав Setl Group",
                  content: "В состав Setl Group входит собственный застройщик Setl City и эксклюзивный продавец «Петербургская Недвижимость»",
                  button: "Купить квартиру мечты"
                })
                +slider__slide({
                  title: "Состав Setl Group",
                  content: "В состав Setl Group входит собственный застройщик Setl City и эксклюзивный продавец «Петербургская Недвижимость»",
                  button: "Купить квартиру мечты"
                })
                +slider__slide({
                  title: "Состав Setl Group",
                  content: "В состав Setl Group входит собственный застройщик Setl City и эксклюзивный продавец «Петербургская Недвижимость»",
                  button: "Купить квартиру мечты"
                })
  section.section.pt-100.mt-20
    main  
      .container
        .row
          .col-xs-12.col-md-8
            .developer
              .developer__logo
                img(src="./img/developer1.svg" alt="")
              .developer__text Квартира от надежного застройщика
            .advantages
              +advantage({
                logo: "adv1.svg",
                title: "Только надежные застройщики",
                text: "<span class='color-red'>«Петербургская Недвижимость»</span> реализует более 150 объектов от 40 застройщиков, 15 из них – на эксклюзивных условиях. Это самый широкий выбор квартир в Санкт-Петербурге и в Ленинградской области, а также в Калининграде."
              })
              +advantage({
                logo: "adv2.svg",
                title: "0% комиссия",
                text: "Все услуги компании для клиентов бесплатны. Продаем квартиры напрямую от застройщиков, без переплат со стороны покупателя и каких-либо комиссий."
              })
              +advantage({
                logo: "adv3.svg",
                title: "Ипотека от ведущих банков",
                text: "Сотрудничаем с 30 крупнейшими банками России. Для клиентов – особые преимущества: сниженный процент по ипотеке, единая анкета для всех банков-партнеров и ускоренное рассмотрение заявки."
              })
              +advantage({
                logo: "adv4.svg",
                title: "Принцип одного окна",
                text: "Подбор квартиры и ипотека, подбор программы страхования, а также консультации юриста на всех этапах и Клиентская служба сервиса – все в одном офисе «Петербургской Недвижимости»."
              })
              +advantage({
                logo: "adv5.svg",
                title: "А еще: ",
                text: "<ul class='advantage__list'><li>Скидки региональным покупателям</li><li>Личный кабинет на сайте с онлайн-бронированием квартир</li><li>Клуб привилегий ПН только для наших клиентов.</li></ul>  "
              })
            .stats
              +stat({
                name: "2500+",
                text: "Квартир продаем каждый месяц",
              })
              +stat({
                name: "308 000",
                text: "Семей купили квартиру у нас",
              })
              +stat({
                name: "43",
                text: "Представительства в России",
              })
              +stat({
                name: "5",
                text: "Городов присутствия",
              })
              +stat({
                name: "30",
                text: "Банков-партнеров",
              })
            .developer
              .developer__logo
                img(src="./img/developer2.svg" alt="")
              .developer__text.developer__text--offset Ведущий застройщик Санкт-Петербурга
            .description
              p Девелопер 
                span.color-red Setl City 
                | входит в тройку крупнейших строительных компаний России. Высокие стандарты строительства, благоустройства и отделки квартир, которые применяет компания, стали отличительным знаком всех жилых комплексов от Setl City. Компания работает во всех сегментах: «комфорт», «высокий комфорт», «бизнес» и «премиум».  
            .awards
              +award({
                logo: "award1.png",
                text: "Премия КАИССА-2018 <br>«Лучший проект комфорт-класса»"
              })
              +award({
                logo: "award2.png",
                text: "Золотой знак <br>«Надежный застройщик-2018»"
              })
              +award({
                logo: "award3.png",
                text: "Федеральная премия RREF Awards-2018. <br>«Комфортная среда (регионы России)»"
              })
          .col-sm-12.col-md-4
            .sticky.clearfix
              .sticky--black ипотека
              .sticky--gray первый взнос
              .sticky--red Н0ЛЬ рублей
              .sticky--grayline вот это да!
              .sticky__button 
                button.button.button--red Выбрать квартиру мечты
  section.section.section__bottom
    .container
      .row
        .col-12
          .buy
            .buy__title Купить квартиру мечты
            .buy__form
              form.form(action="#")
                input.form__num(type="tel" placeholder="Ваш номер телефона")
                button.form__button Заказать звонок
            .buy__callback Мы перезвоним вам за 2 минуты
            .buy__time
              a Выбрать удобное время
  footer.footer
    .container
      .row
        .col-xs-12.col-md-6
          .copyright ©2019, Setl Group. Все права защищены
        .col-xs-12.col-md-6
          .social
            img.social__img(src="./img/social.png" alt="")

