.phone {
  position: relative;
  top: 20px;

  @media only screen and (max-width: 590px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__number {
    margin-bottom: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:before {
      margin-right: 10px;
      display: block;
      width: 20px;
      height: 20px;
      content: '';
      background: transparent url(../img/icon-header-phone.png) 0 0 no-repeat;
    }

    span {
      font-family: $font-black;
      font-size: 24px;
      line-height: 1;
      font-weight: 400;
      color: #ffffff;
    }
  }
}
