.stat {
  width: 18%;

  @media only screen and (max-width: 767px) {
    padding: 20px 0;
    width: 30%;
  }

  @media only screen and (max-width: 590px) {
    width: 46%;
  }

  &__name {
    margin: 0 0 20px;
    font-size: 22px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -.88px;
    color: #f31b33;
  }

  &__text {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    color: $primary;
  }
}
