.header {
  padding: 110px 0 90px;
  background: transparent url(../img/header-bg.jpg) center bottom no-repeat;
  background-size: cover;

  @media only screen and (max-width: 767px) {
    padding: 60px 0;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 590px) {
      display: block;
    }
  }
}
