.form {
  position: relative;

  &__num {
    padding: 0 170px 0 20px;
    width: 100%;
    height: 40px;
    color: #ffffff;
    background: #920d14;
    border: 0 none;
    border-radius: 20px;

    @media only screen and (max-width: 400px) {
      padding: 0 20px;
    }

    &::placeholder {
      opacity: .5;
      color: $white;
    }
  }

  &__button {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    display: block;
    width: 150px;
    height: 40px;
    text-align: center;
    color: #000000;
    background: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    @media only screen and (max-width: 400px) {
      position: static;
      margin-top: 10px;
      width: 100%;
      border-radius: 20px;
    }
  }
}
