.stats {
  margin: 45px 0 70px;
  padding: 51px 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
  flex-flow: row wrap;

  &:after {

    @media only screen and (max-width: 767px) {
      width: 30%;
      content: '';
    }
  }

  @media only screen and (max-width: 767px) {
    margin: 40px 0;
    padding: 20px 0;
  }
}
